.border{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    /* border:3px solid #ACA9A9; */
    border-radius: 10px;
    background-color: #3a3a3a;
    width: 400px;
    height: 150px;
    margin: -75px 0 0 -200px;
}
.p1{
    font-size: 40px;
    text-align: center;
}

.text{
    position: absolute;
    left: 50%;
    top: 52%;
    margin: 0 0 0 -140px;
    text-align: center;
}
.confirm{
    position: absolute;
    top: 85%;
    left: 50%;
    margin: -10px 0 0 -75px;
    border-radius: 5px;
    width: 150px;
    background-color: #006BB6;
    border-color: #006BB6;
    color: #EDF2F4;
}