*{
    margin: 0;
    padding: 0;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
}
html, body{
  min-width: 1200px;
}
body {
  line-height: 1.5;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 16px;
}
a {
  text-decoration: none !important;
  color: #fff;
}
p {
  margin-top: 0;
  margin-bottom: 0 !important;

}
#wrapper{
  min-width: 100%;
  margin: 0 0 0 0;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}


/*Header & nav*/
#header {
  background: #000000;
  position: relative !important;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 2;
}
#header:after {
  content: "";
  clear: both;
  display: block;
}
.search {
  width: 350px;
  margin: 10px;
}
.signin {
  width: 80px;
  height: 30px;
  background-color: #FFBE0B;
  border-radius: 5px;
  border-color: #FFBE0B;
  margin: 20px;
}
.signin a {
  color: #000000;
  font-size: 14px;
}
input {
  border: none;
  padding: 10px;
  border-radius: 8px;
  width: 350px;
}
.logo {  
  padding: 0 0 0 20px;
  position: relative;
  width: 10%;
  margin-right: -15px;
}
img {
  width: 100%;
  height: 100%;
  position: relative;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}
nav > ul {  
  position: relative;
 margin: 0 0 0 0;
}
nav li {
  list-style: none;
  float: left;
}
nav .dropdown {
  position: relative;
  font-family: 'Noto Sans TC', sans-serif;
}
nav li a {
  float: left;
  padding: 35px 20px;
  color: white !important;
}
nav li a:hover {
  background: #2c3e50;
}
nav li ul {
  display: none ;
}
nav li:hover ul {
  display: inline;
}
nav li li {
  float: none;
}
nav .dropdown ul {
  left: 0;
  top: 100%;
  background: #fff;
  padding: 25px 0;
  border-bottom: 3px solid #34495e;
  float: left;
  position: absolute;
  z-index: 2;
}
nav .dropdown li {
  white-space: nowrap;
}
nav .dropdown li a {
  padding: 10px 35px;
  font-size: 13px;
  min-width: 200px;
}
nav li li a {
  float: none;
  color: #333 !important;
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: 13px;
}
nav li li a:hover {
  background: #bdc3c7;
  background: #fafbfb;
}

  
/* Main */
#content{
  /* background-color: pink; */
  position: relative;
  height:1900px;
  width:1100px;
  top:50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
.top_main{
  /* background-color: aqua; */
  position: relative;
  height: 480px;
  width:1100px;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.top_img{
  /* background-color:darkviolet; */
  position: relative;
  height: 480px;
  width: 550px;
  float: left;
  /* margin-left: 28px; */
}

ul{
  list-style:none;
}
img{
  border:0;
}
.banner{
  margin:30px auto 0;
  width:635px;
}
.large_box{
  /* background-color: deeppink; */
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  /* width:500px; */
  height:320px;
  overflow:hidden;
}
.large_box img{
  position: relative;
  display:block;
}
.small_box{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 380px;
  height:73px;
  overflow:hidden;
}
.small_list{
  position:relative;
  float:left;
  height:73px;
  overflow:hidden;
}
.small_list img{
  width:100px;
}
.small_list ul{
  height:50px;
   padding-left: 0px !important;
}
.small_list ul li{
  position:relative;
  float:left;
  margin-right:10px;
  width:100px;
  padding-left: 0px !important;
}
.small_list ul li img{
  display:block;
}
.small_list ul li .bun_bg{
  display:none;
  position:absolute;
  top:0;
  left:0;
  width:100px;
  height:67px;
  background:#FFF;
  filter:alpha(opacity=60);
  -moz-opacity:0.6;
  -khtml-opacity:0.6;
  opacity:0.6;
}
.small_list ul li.on .bun_bg{
  display:block;
}
.btns{
  display:block;
  width:20px;
  height:30px;
  background-repeat:no-repeat;
  background-position:center center;
  position: relative;
  margin-top: 18px;
  cursor:pointer;
}
.lefts_btn{
  float:left;
  margin-right:10px;
  background-image:url(/images/icon/left.png);
}
.rights_btn{
  float:right;
  background-image:url(/images/icon/right.png);
}
.top_text{
  /* background-color:burlywood; */
  position: relative;
  height: 480px;
  width:530px;
  float: right;
  margin-left: 20px;
  padding-left: -50px;
}
.title_t{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 300;
  color:rgb(149, 149, 149);
  width:300px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  padding-left: 30px;
}
.title_t:hover{
  color: #000000;
}
.title_t2{
  font-family: 'Noto Sans TC', sans-serif;
  color: rgb(93, 93, 93);
  position: relative;
  width: 80px;
  font-size: 16px;
  font-weight: 500;
}
.instock_img img{
  height: 20px;
  width: 80px;
  position: relative;
  margin-top: 8px;
  padding-left: 30px;
}
.item_cname{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  font-size: 30px;
  position: relative;
  margin-top: -10px;
  padding-left: 30px;
}
.item_ename{
  font-family: 'Mukta', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  font-size: 18px;
  position: relative;
  margin-top: -8px;
  padding-left: 30px;
}
.price{
  font-family: 'Balsamiq Sans', cursive;
  color: #FFBE0B;
  font-weight: 600;
  font-size: 22px;
  position: relative;
  padding-left: 30px;
}
.item_context{
  position: relative;
  margin-top: -10px;
}
.item_context p{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  font-size: 15px;
  position: relative;
  padding-top: 10px;
  padding-left: 30px;
}
.item_qty p{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 500;
  padding-left: 30px;
}
.item_qty{
  margin-top: 12px;
}
#qty{
  position: relative;
  top:-2px;
  width: 50px;
  height: 26px;
}
.btn1{
  position: relative !important;
  width: 80px !important;
  height: 40px !important;
  margin-left: 10px !important;
  border-radius: 5px !important;
  cursor:pointer !important;
  background-color: white !important;
  border: 1px solid gray !important;
  font-size: 10px !important;
  margin-top: 25px;
}
.btn1:hover{
  background-color: gainsboro !important;
}
.btn3{
  position: relative !important;
  width: 90px !important;
  height: 40px !important;
  margin-left: 30px !important;
  border-radius: 5px !important;
  cursor:pointer !important;
  border: 1px solid gray !important;
  background-color: white !important;
  text-aline:center !important;
  font-size: 10px !important;
  margin-top: 25px;
}
.btn3:hover{
  background-color: gainsboro !important;
}
.b_title{
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 20px;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}
.bottom_main{
  /* background-color: blue; */
  position: relative;
  width: 1100px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
}
.bottom_pic{
  /* background-color: burlywood; */
  width:550px;
  height: 1000px;
  position: relative;
  float: left;
  /* padding-top: 20px; */
}
.bottom_p{
  position: relative;
  margin-bottom: 30px;
}
.bottom_p2{
  position: relative;
  margin-bottom: 30px;
}
.bottom_p3{
  position: relative;
  margin-bottom: 30px;
}
.bottom_text{
  /* background-color: chartreuse; */
  position: relative;
  width:480px;
  height: 1100px;
  /* border: 1px solid rgb(149, 149, 149); */
  float: right;
  padding-left: 50px;
  padding-top:30px;
  font-family: 'Noto Sans TC', sans-serif;

}
.m_text_bottom{
  background-color: #000000;
  color:white !important;
  font-size: 16px;
  font-family: 'Archivo Black', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 50px;
  max-width: 100%;
  width: 120px;
  height: 40px;
  margin-left: 500px;
}
.m_text_bottom:hover{
  width: 125px;
  height: 45px;
}
.qty{
  border: 1px solid gray;
  width:40px !important;
  height:25px !important;
  font-size: 12px;
}
a{
  color: white !important;
}  
  
  
  
  
/* Footer */
.footer{
  position: relative;
  height: 250px;
  background-color: #000000;
  max-width: 100%;
  overflow: auto;
  padding: 0px;
  margin: 0px auto;
}
.footer_inner{
  /* background-color: wheat; */
  position: relative;
  width: 500px;
  height: 50px;
  margin: auto;
  color: white !important;
}
.footer ul{
  margin-left: -75px;
  padding: 0px;
}
.footer li{
  position: relative;
  color: white !important;
  list-style-type: none;
  display: inline-block;
  margin-top: 95px;
  margin-right:30px;
  overflow: auto;
  /* background-color: wheat; */
}
.footer_p{
  /* background-color: violet; */
  position: relative;
  margin: auto;
  width: 650px;
}
.footer span{
  color: white;
  display: block;
  position: relative;
  font-size: 10px;
  margin-top: 80px;
}