*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}
body {
    background-color: #262626;
}
.p {
    position: relative;
    width: 600px;
    height: 580px;
    left: 50%;
    margin-left: -300px;
    top: 70px;
    z-index: 1;
}
p {
    position: relative;
    top: 110px;
    font-size: 42px;
    text-align: center;
    margin-right: 250px;
    color: #edf2f4;
}
#u_hr {
    margin-bottom: 40px;
    color: #edf2f4;
}
label {
    font-size: 18px;
    color: #edf2f4;
}
#c_password {
    position: relative;
    top: 120px;
    /* border: 1px solid red; */
    width: 580px;
    height: 400px;
    margin-left: calc(50% - 290px);
    text-align: center;  
}
.row {
    display: inline-block;
    /* border: 1px solid green; */
    margin-top: 20px;
    width: 580px;
}
#question {
    float: left;    
    /* border: 1px solid blue; */
    width: 200px;
    text-align: right;
    padding-top: 3px;
}
#answer {
    float: left;
    width: 280px;
    margin-left: 30px;
    text-align: left;
    padding-top: 3px;
}
#remind {
    position: relative;
    /* border: 1px solid black; */
    height: 20px;
    width: 200px;
    float: left;
    left: 40%;
    text-align: left;
    font-size: 8px;
    color: #edf2f4;
}
#password {
    font-size: 18px;
    outline: none;    
}
hr {
    position: relative;
    border: none;
    border-bottom: 1px solid ;
    padding-top: 50px;
    width: 500px;
    left: calc(50% - 250px);
    /* margin-left: 40px; */
    color: #edf2f4;
}

#check {
    margin-top: 20px;
    border: none;
    height: 36px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #edf2f4;
}
.header {
	position: absolute;
	z-index: 99;
