<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>G6</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
		<servlet-name>OrderInfoServlet</servlet-name>
		<servlet-class>com.orderInfo.controller.OrderInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderInfoServlet</servlet-name>
		<url-pattern>/shop/orderInfo.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ItemPic</servlet-name>
		<servlet-class>com.item.model.ItemPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemPic</servlet-name>
		<url-pattern>/shop/ItemPic</url-pattern>
	</servlet-mapping>
		

  	<servlet>
		<servlet-name>ItemPic1</servlet-name>
		<servlet-class>com.item.model.ItemPic1</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemPic1</servlet-name>
		<url-pattern>/shop/ItemPic1</url-pattern>
	</servlet-mapping>
  
  
  	<servlet>
		<servlet-name>ItemPic2</servlet-name>
		<servlet-class>com.item.model.ItemPic2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemPic2</servlet-name>
		<url-pattern>/shop/ItemPic2</url-pattern>
	</servlet-mapping>
  
  
  	<servlet>
		<servlet-name>ItemPic3</servlet-name>
		<servlet-class>com.item.model.ItemPic3</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemPic3</servlet-name>
		<url-pattern>/shop/ItemPic3</url-pattern>
	</servlet-mapping>
  
  
  
  
  
  
  
  
  
</web-app>