<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>IBM_emp_0201MVC_Single-Table_mySQL8</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MovieServlet</servlet-name>
    <servlet-class>com.movie.controller.MovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieServlet</servlet-name>
    <url-pattern>/Backstage/emp.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>DBGifReaderMovie</servlet-name>
		<servlet-class>com.movie.model.DBGifReaderMovie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReaderMovie</servlet-name>
		<url-pattern>/DBGifReaderMovie</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FollowServlet</servlet-name>
		<servlet-class>com.follow.controller.FollowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FollowServlet</servlet-name>
		<url-pattern>/follow/follow.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DBGifReaderFollow</servlet-name>
		<servlet-class>com.follow.model.DBGifReaderFollow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReaderFollow</servlet-name>
		<url-pattern>/DBGifReaderFollow</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>ProfileServlet</servlet-name>
		<servlet-class>com.profile.controller.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProfileServlet</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
  
</web-app>

