<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>movieon_time</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>AreaServlet</servlet-name>
		<servlet-class>com.area.controller.AreaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AreaServlet</servlet-name>
		<url-pattern>/area/area.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowingServlet</servlet-name>
		<servlet-class>com.showing.controller.ShowingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowingServlet</servlet-name>
		<url-pattern>/showing/showing.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowingSelectServlet</servlet-name>
		<servlet-class>com.showing.controller.ShowingSelectServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowingSelectServlet</servlet-name>
		<url-pattern>/showing/showingselect.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ShowingViewServlet</servlet-name>
		<servlet-class>com.showing.controller.ShowingViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowingViewServlet</servlet-name>
		<url-pattern>/showing/showingview.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HistoryServlet</servlet-name>
		<servlet-class>com.history.controller.HistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoryServlet</servlet-name>
		<url-pattern>/history/history.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>HistoryViewServlet</servlet-name>
		<servlet-class>com.history.controller.HistoryViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HistoryViewServlet</servlet-name>
		<url-pattern>/history/historyview.do</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>DBGifReaderMovie</servlet-name>
		<servlet-class>com.movie.model.DBGifReaderMovie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DBGifReaderMovie</servlet-name>
		<url-pattern>/DBGifReaderMovie</url-pattern>
	</servlet-mapping>
	


</web-app>