*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #262626;
}
.p {
    position: fixed;
    width: 600px;
    height: 600px;
    margin-left: calc(50% - 300px);
    background-color: #262626;
}
p {
    position: relative;
    font-size: 42px;
    left: 5%;
    top: 110px;
    color: #edf2f4;
}
.register {
    position: relative;
    top: 130px;
    width: 600px;
    height: 300px;    
    /* border: solid 1px red; */
    background-color: #262626;
}
.formRow {
    text-align: center;
    margin-top: 30px;
}
.formRow2 {
    margin-top: 30px;
}
label {
    color: #edf2f4;
    font-size: 20px;
}
#rg {  
    position: relative;
    height: 26px;
    width: 330px;
    margin-left: 30px;
    padding-left: 5px;
    font-size: 18px;
    display: inline;
    /* border-radius: 1px; */
    outline: none;
    background-color: #edf2f4;
    border: none;
    top: -2px;
}
.btn {
    height: 36px;
    width: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #edf2f4;
    cursor: pointer;
}
.c_hr {
    border: none;
    border-bottom: 1px solid #edf2f4;
}