*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;   
}
body {
    background-color: #262626;
}
.p{
    height: 100vh;
}
p {
    position: relative;
    top: 110px;
    font-size: 42px;
    text-align: center;
    margin-right: 250px;
    color: #edf2f4;
}
.nav {
    position: absolute;
    width: 580px;
    height: 50px;
    top: 210px;
    left: calc(50% - 290px);
    /* border: 1px solid black; */
}
#menu li {
    position: relative;
    display: inline;
    align-items: center;
    list-style: none;
    padding-left: 56px;
    font-size: 18px;
}
#menu li a {
    text-decoration: none;
    color: #edf2f4;
}
#menu li a:hover {
    color: #FFBE0B;
}
.box {
    position: absolute;
    left: 481px;
    top: 1px;
    /* transform: rotate(45deg); */
    border-style: solid;
    border-width: 0px 6px 10px 6px;
    border-color: transparent transparent #edf2f4 transparent;
}
#u_hr {
    bottom: 10px;
    color: #edf2f4;
}
#cc_set {
    position: relative;
    top: 180px;
    /* border: 1px solid red; */
    width: 580px;
    height: 400px;
    margin-left: calc(50% - 290px);
    text-align: center;  
}
hr {
    position: relative;
    border: none;
    border-bottom: 1px solid ;
    padding-top: 20px;
    width: 500px;
    left: calc(50% - 250px);
    /* margin-left: 40px; */
    color: #edf2f4;
}
.row {
    display: inline-block;

    width: 580px;
    padding-top: 6px;
    padding-bottom: 8px;
}
label {
    color: #edf2f4;
}
#question {
    float: left;    
    /* border: 1px solid blue; */
    width: 200px;
    padding-top: 3px;
    padding-left: 20px;
}
#cc_number {
    margin-left: 12px;
}
#answer {
    float: left;
    width: 280px;
    margin-left: 33px;
    padding-top: 3px;    
    /* border: 1px solid green; */
}
#number {
    /* border: 1px solid blue; */
    height: 26px;
    width: 120px;
    margin-top: 8px;
    margin-left: 6px;
    float: left;  
    text-align: center;
    color: #edf2f4;
}
   /* ==========================  */
label, input { 
    display:block; 
}
input{ 
    margin-top: 10px;
}
input.text {
    margin-bottom:12px; width:95%; padding: .4em; 
}
fieldset { 
    padding:0; border:0; margin-top:25px; 
}
h1 { 
    font-size: 1.2em; margin: .6em 0; 
}
.ui-dialog .ui-state-error { 
    padding: .3em; 
}
.validateTips { 
    border: 1px solid transparent; padding: 0.3em; 
    height: 30px;
    width: 300px;
    font-size: 14px;
    top: 0;
}
.ui-widget-header {
  background-color: white;
}

#cn1 {
  width: 50px;
  float: left;
  margin-right: 14px;
}
#cn2 {
  width: 50px;
  float: left;
  margin-right: 14px;
}
#cn3 {
  width: 50px;
  float: left;
  margin-right: 14px;
}
#cn4 {
  width: 50px;
  margin-right: 14px;
}
.task2 { 
    position: relative;  
    border: 1px solid #edf2f4;; 
    border-radius: 5px;
    width: 480px;
    left: calc(50% - 240px);
    height: 40px;
    margin-top: 5px;
    list-style: none;
}
#exp {
    /* border: 1px solid green; */
    height: 20px;
    width:100px;
    float: left;
    margin-top: 10px;
    margin-left: 145px;
    color: #edf2f4;
}
.btn_delete {
    position: relative;
    border: none;
    outline: none;
    font-size: 18px;
    width: 80px;
    border-radius: 5px;
    left: 0;
    margin-top: 7px;
    cursor: pointer;
}
#popfont {
    color: #262626;
}
#create-user {
    margin-top: 20px;
}
