.main{
    height: 1300px;
}

.title{
    display: inline-block;
    position: relative;
    top: 5%;
    left: 15%;
}
.li1{
    position: relative;
    top: 10%;
    left: 15%;
    list-style:none
}
.input{
    
    position: relative;
    top: 12%;
    height:8px;
    width:200px;
}

#tagSearch{
    left: 3%;
}

.send1{
    position: relative;
    top: 12%;
    left: 1%;
    border-radius: 5px;
    width: 50px;
    background-color: #006BB6;
    border-color: #006BB6;
    color: #EDF2F4;
}

.send2{
    position: relative;
    top: 12%;
    left: 4%;
    border-radius: 5px;
    width: 50px;
    background-color: #006BB6;
    border-color: #006BB6;
    color: #EDF2F4;
}

.table{
    border-collapse: collapse;
    position: relative;
    top: 13%;
    left: 15%;
    
}
.table tr th{
    
    border:1px solid #ACA9A9;
    width: 215px;
    background-color: white;
    color: #646464;
    font-size: 10px;
    
}