.main{
    height: 1300px;
}

.title{
    display: inline-block;
    position: relative;
    top: 5%;
    left: 15%;
}

.title2{
    display: inline-block;
    position: relative;
    top: 8%;
    left: 5%;
    color: #ACA9A9;
    
}

li{
	list-style:none
}

.li1{
    position: relative;
    top: 13%;
    left: 19%;
    list-style:none
}

.input{
    
    position: relative;
    top: 12%;
    height:8px;
    width:200px;
}

#Search{
    right: 4%;
}

.send{
    position: relative;
    top: 12%;
    right: 3%;
    border-radius: 5px;
    width: 50px;
    background-color: #006BB6;
    border-color: #006BB6;
    color: #EDF2F4;
}



.table{
    border-collapse: collapse;
    position: relative;
    top: 13%;
    left: 15%;
    
}
.table tr th{
    
    border:1px solid #ACA9A9;
    width: 215px;
    background-color: white;
    color: #646464;
    font-size: 10px;
    
}

.error{
	display: inline-block;
	position: relative;
	top: 12%;
	right:4.5%;
}